.view_mobile{display: none;}
.view_web{display: block;}

.premium_desc{font-family: 'SpoqaHanSansNeo-Regular';font-size: 12px;position: relative;}
.premium_desc .button{text-align: left;cursor: pointer;background-color: #15e732;position: relative;border-radius: 2em;border: none;color: #000;padding: 0.6em 2.7em 0.6em 1.7em;font-size: 1em;font-weight: bold;display: inline-block;box-shadow: 0 5px 5px rgba(10, 10, 10, 0.3);line-height: 1.5em;word-break: keep-all;}
.premium_desc .button::after{content: '';width: 1em;height: 1em;display: inline-block;position: absolute;right: 1em;top:50%;transform: translateY(-50%);background: url(http://golfwith.golfzon.com/web/images/ico_guide_arrow.png) no-repeat;background-size: contain;background-position: center center;}

.premium_desc>.head>.content{max-width: 1200px;margin: auto;position: relative;}
.premium_desc.watch4>.head{padding: 220px 0 150px;text-align: left;width: 100%;background: linear-gradient(#1f1f1f 10%, #3d3d3d 50%);position: relative;overflow: hidden;}
.premium_desc.legacy>.head{padding: 220px 0 160px;text-align: left;width: 100%;background: #282828;position: relative;overflow: hidden;}
.premium_desc.watch4>.head>.content>.watch_img{background-image: url(http://golfwith.golfzon.com/web/images/premium/img_main_watch_4.png);position: absolute;width: 740px;height: 670px;background-size: contain;background-repeat: no-repeat;left: 45%;bottom: -200px;}
.premium_desc.watch4[lang="ko"]>.head>.content>.watch_img{background-image: url(http://golfwith.golfzon.com/web/images/premium/img_main_watch_4_ko.png);}
.premium_desc.legacy>.head>.content>.watch_img{background: url(http://golfwith.golfzon.com/web/images/premium/img_watch_tizen_main.png) no-repeat;position: absolute;width: 460px;height: 480px;background-size: contain;left: 55%;bottom: -160px;}
.premium_desc>.head>.content>.wrap{padding: 0 20px;position: relative;font-size: 14px;}
.premium_desc>.head>.content>.wrap>h2{font-family: 'SpoqaHanSansNeo-Bold';font-size: 1.9em;word-break: keep-all;}
.premium_desc.watch4>.head>.content>.wrap>h2{color: #15e732;}
.premium_desc.legacy>.head>.content>.wrap>h2{color: #19be78;}
.premium_desc>.head>.content>.wrap>p{color: #fff;font-family: 'SpoqaHanSansNeo-Light';max-width: 24em;width: 100%;font-size: 1.2em;margin: 1.5em 0;word-break: keep-all;}
.premium_desc>.head>.content>.wrap>a{font-size: 16px;}
.premium_desc.watch4>.head>.content>.wrap>a{background-color: #19be78;}

.premium_desc>.smartcaddie_guide{background: url(http://golfwith.golfzon.com/web/images/premium/bg_member_go.png) no-repeat;text-align: center;padding: 80px 10px;background-size: cover;background-position: center;}
.premium_desc>.smartcaddie_guide>.title{font-size: 30px;font-family: 'SpoqaHanSansNeo-Bold';margin-bottom: 15px;word-break: keep-all;}
.premium_desc>.smartcaddie_guide>.title>i{font-style: normal;}
.premium_desc.watch4>.smartcaddie_guide>.title>i{color: #15e732;}
.premium_desc.legacy>.smartcaddie_guide>.title>i{color: #19be78;}
.premium_desc>.smartcaddie_guide>.desc{font-size: 20px;font-family: 'SpoqaHanSansNeo-Light';}
.premium_desc>.smartcaddie_guide>.button{font-size: 16px;margin-top: 20px;}

.premium_desc>.link_group{position: sticky;top: 75px;background:#1b1b1b;padding-top: 1em;z-index: 1;}
.premium_desc>.link_group>.wrap{display: flex;max-width: 1200px;padding: 0 20px;width: 100%;margin:auto;}
.premium_desc>.link_group>.wrap>input{display:none;}
.premium_desc>.link_group>.wrap>input:checked + label{color: #191919;box-shadow: 0 3px 3px rgba(21, 231, 50, 0.3);}
.premium_desc.watch4>.link_group>.wrap>input:checked + label{background: #15e732;}
.premium_desc.legacy>.link_group>.wrap>input:checked + label{background: #19be78;}
.premium_desc>.link_group>.wrap>label{flex: 1 1 0;border: 2px solid;background: #282828;color: #fff;padding: 0.8em 0.4em;margin-bottom: 0.9em;border-radius: 3em;word-break: keep-all;text-decoration: none;font-size: 18px;font-family: 'SpoqaHanSansNeo-Medium';display: inline-flex;cursor: pointer;height: 2.5em;vertical-align: middle;justify-content: center;align-items: center;}
.premium_desc.watch4>.link_group>.wrap>label{border-color: #15e732;}
.premium_desc.legacy>.link_group>.wrap>label{border-color: #19be78;}
.premium_desc>.link_group>.wrap>label:hover{background: #363636;}
.premium_desc>.link_group>.wrap>label:not(:last-child){margin-right: 1em;}

.premium_desc.watch4>.item{text-align: left;padding: 60px 2em;word-break: keep-all;background-color: #282828;}
.premium_desc.watch4>.item:nth-child(2n){background-color: #3d3d3d;}
.premium_desc.legacy>.item{text-align: left;padding: 60px 2em;word-break: keep-all;background-color: #3d3d3d;}
.premium_desc.legacy>.item:nth-child(2n){background-color: #282828;}

.premium_desc>.item>.content{max-width: 1200px;margin: auto;}
.premium_desc>.item>.content.padding_all{padding: 0 50px;}
.premium_desc>.item>.content>.wrap{padding: 0 50px;}
.premium_desc>.item>.content.padding_all>.wrap{padding: 0;}
.premium_desc>.item>.content>.wrap>.title{font-size: 2.2em;font-family: 'SpoqaHanSansNeo-Bold';color: #fff;display: flex;margin-bottom: 0.7em;}
.premium_desc>.item>.content>.wrap>.title::before{content: '';display: inline-block;width: 1.3em;height: 1.3em;margin-right: 10px;background: url(http://golfwith.golfzon.com/web/images/new/smartcaddie/icn_appicon.png) no-repeat;background-size: contain;}
.premium_desc>.item>.content>.wrap>.desc{line-height: 1.6;font-size: 1.5em;margin-bottom: 30px;}
.premium_desc>.item>.content>.wrap>.desc>br{content: '';margin: 2em;display: block;font-size: 24%;}
.premium_desc>.item>.content>.wrap>.desc>i{font-style: normal;}
.premium_desc.watch4>.item>.content>.wrap>.desc>i{color: #15e732;}
.premium_desc.legacy>.item>.content>.wrap>.desc>i{color: #19be78;}
.premium_desc>.item>.content>.wrap>.desc>.button{margin-left: 0.5em;font-size: 0.7em;}
.premium_desc>#tiral>.content>.wrap>.desc{display: flex;}
.premium_desc>#tiral>.content>.wrap>.desc>img{max-width: 400px;object-fit: contain;}
.premium_desc>#tiral>.content>.wrap>.desc .att{line-height: 1.4;position:relative;padding-left:1.2em;margin-bottom: 1em;}
.premium_desc>#tiral>.content>.wrap>.desc .att:before{content:'※';position:absolute;left:0;}

.premium_desc.watch4>.item>.content>.guide_form{padding: 30px 50px;background-color: #3d3d3d;border-radius: 20px;}
.premium_desc.watch4>.item:nth-child(2n)>.content>.guide_form{background-color: #282828;}
.premium_desc.legacy>.item>.content>.guide_form{padding: 30px 50px;background-color: #282828;border-radius: 20px;}
.premium_desc.legacy>.item:nth-child(2n)>.content>.guide_form{background-color: #3d3d3d;}
.premium_desc>.item>.content>.guide_form:not(:last-child){margin-bottom: 2em;}
.premium_desc>.item>.content>.guide_form>h4{border-bottom: 2px solid;margin-bottom: 1.5em;padding-bottom: 0.5em;font-size: 2em;display: block;}
.premium_desc.watch4>.item>.content>.guide_form>h4{color: #15e732;border-color: #15e732;}
.premium_desc.legacy>.item>.content>.guide_form>h4{color: #19be78;border-color: #19be78;}
.premium_desc>.item>.content>.guide_form>.guide{object-fit: contain;}

.premium_desc>#product{background-image: url(http://golfwith.golfzon.com/web/images/premium/back_icon.png);background-repeat: no-repeat;background-size: 80%;background-position: 40vw 50%;}
.premium_desc>#product>.content>.ticket{margin-top: 2em;}
.premium_desc>#product>.content>.ticket>li{display: flex;border: 1px solid #999;border-radius: 5px;padding: 20px;align-items: center;font-family: 'SpoqaHanSansNeo-Bold';background-color: #282828;}
.premium_desc.legacy:not([lang="ko"])>#product>.content>.ticket>li:nth-child(1){display: none;}
.premium_desc>#product>.content>.ticket>li:not(:last-child){margin-bottom: 1em;}
.premium_desc>#product>.content>.ticket>li>span{display: block;width: 100%;}
.premium_desc>#product>.content>.ticket>li>span:nth-child(1){flex: auto;}
.premium_desc>#product>.content>.ticket>li>span:nth-child(1)>p:nth-child(1){font-size: 1.6em;}
.premium_desc.watch4>#product>.content>.ticket>li>span:nth-child(1)>p:nth-child(1){color: #15e732;}
.premium_desc.legacy>#product>.content>.ticket>li>span:nth-child(1)>p:nth-child(1){color: #19be78;}
.premium_desc>#product>.content>.ticket>li>span:nth-child(1)>p:nth-child(2){font-size: 3em;}
.premium_desc>#product>.content>.ticket>li>span:nth-child(2){font-size: 3.2em;display: flex;align-items: center;justify-content: right;}
.premium_desc.watch4>#product>.content>.ticket>li>span:nth-child(2){color: #f68d0d;}
.premium_desc.legacy>#product>.content>.ticket>li>span:nth-child(2){color: #19be78;}
.premium_desc>#product>.content>.ticket>li>span:nth-child(2)::before{width: 1em;height:1em;margin-right:5px;background-size: contain;background-repeat: no-repeat;display: inline-block;content: '';}
.premium_desc.watch4>#product>.content>.ticket>li>span:nth-child(2)::before{background-image: url(http://golfwith.golfzon.com/web/images/premium/ticket-doller.png);}
.premium_desc.legacy>#product>.content>.ticket>li>span:nth-child(2)::before{background-image: url(http://golfwith.golfzon.com/web/images/premium/ticket-doller2.png);}
.premium_desc[lang="ko"].watch4>#product>.content>.ticket>li>span:nth-child(2)::before{background-image: url(http://golfwith.golfzon.com/web/images/premium/ticket-won.png);}
.premium_desc[lang="ko"].legacy>#product>.content>.ticket>li>span:nth-child(2)::before{background-image: url(http://golfwith.golfzon.com/web/images/premium/ticket-won2.png);}
.premium_desc>#product>.content>.ticket>li>span>p{align-items: center;}
.premium_desc>#product>.content>.ticket>li>span>p>.discount{border-radius: 1em;background: #f68d0d;color: #282828;padding: 0.2em 0.6em;font-size: 10px;display: inline-block;top: -0.1em;position: relative;text-align: center;}
.premium_desc>#product>.content>.ticket>li>span>.price{color: #007d11;text-decoration: line-through;font-size: 0.7em;font-family: 'SpoqaHanSansNeo-Regular';margin-right: 5px;}

.premium_desc>#ticket>.content>.description{display: flex;gap:30px;}
.premium_desc>#ticket>.content>.description>div{flex: 1 1 0;font-size: 1.5em;}
.premium_desc>#ticket>.content>.description>div h4{font-size: 1.4em;line-height: 2rem;border-bottom: 2px solid #fff;width: 80%;margin-right: auto;padding-bottom: 0.5em;margin-bottom: 1.5em;font-family: 'SpoqaHanSansNeo-Medium';}
.premium_desc>#ticket>.content>.description>div .sub{font-size: 0.9em;color: #ddd;padding-left: 1em;line-height: 2rem;}
.premium_desc>#ticket>.content>.description>div .sub.list{position:relative;margin-left:1em;}
.premium_desc>#ticket>.content>.description>div .sub.list:before{content:'-';position: absolute;left: 0;}
.premium_desc>#ticket>.content>.description>div i{font-style: normal;line-height: 2rem;}
.premium_desc.watch4>#ticket>.content>.description>div i{color: #15e732;}
.premium_desc.legacy>#ticket>.content>.description>div i{color: #19be78;}
.premium_desc>#ticket>.content>.description>div i.warn{color: #f68d0d;}

.premium_desc>.item>.content .card{display: none;max-width: 340px;width:100%;object-fit: contain;background: #3d3d3d;box-shadow: 0px 2px 6px #111;border: 1px solid #555;border-radius: 5px;height: 5.5em;padding: 10px 10px 10px 15px;align-items: center;text-align: left;font-size: 14px;word-break: break-all;margin: 0 10px 10px 0;}
.premium_desc>.item>.content .card.kakao{cursor: pointer;}
.premium_desc>.item>.content .card.kakao:hover{background: #363636;}
.premium_desc>.item>.content .card::before{content:'';display:inline-block;width: 35px;height: 35px;margin-right: 10px;background-repeat: no-repeat;background-size: contain;background-position: center;flex: none;}
.premium_desc>.item>.content .card.kakao::before{background-image: url(http://golfwith.golfzon.com/web/images/premium/icn_kakao_w.png);}
.premium_desc>.item>.content .card.deca::before{background-image: url(http://golfwith.golfzon.com/web/images/premium/icn_deca_w.png);}
.premium_desc>#inquiy>.content .card.deca{display: inline-flex;}
.premium_desc[lang="ko"]>.item>.content .card{display: inline-flex;}

@media (max-width: 760px) {
	.view_mobile{display: block;}
	.view_web{display: none;}

	.premium_desc{text-align: center;}
	.premium_desc.watch4>.head{padding: 160px 0 90px;}
	.premium_desc.legacy>.head{padding: 160px 0 0;}
	.premium_desc>.head>.content>.wrap>h2{white-space: pre-line;}
	.premium_desc.watch4>.head>.content{padding: 0px 0 140px;}
	.premium_desc.legacy>.head>.content{padding: 0 0 340px;text-align: left;width: 100%;max-width: 1200px;background: #282828;position: relative;overflow: hidden;}
	.premium_desc.legacy>.head>.content>.watch_img{width: 300px;left: 50%;top: unset;bottom: 0;transform: translateX(-50%);background-position: bottom center;}
	.premium_desc.watch4>.head>.content>.watch_img{width: 110vw;max-height: 280px;height: 85vw;left: 50%;top: unset;bottom: -90px;transform: translateX(-50%);background-position: bottom center;background-image: url(http://golfwith.golfzon.com/web/images/premium/img_main_watch_4_m.png);}
	.premium_desc.watch4[lang="ko"]>.head>.content>.watch_img{background-image: url(http://golfwith.golfzon.com/web/images/premium/img_main_watch_4_m_ko.png);}
	.premium_desc.watch4>.head>.content>.watch_img::after{height: 90px;background: linear-gradient(#3d3d3d 10%, transparent 50%);}

	.premium_desc>.smartcaddie_guide{background-size:cover;background-position: 78%;padding: 30px 10px;}
	.premium_desc>.smartcaddie_guide>.title,
	.premium_desc>.smartcaddie_guide>.desc{white-space: pre-line;}

	.premium_desc>.link_group{top: 60px;}
	.premium_desc>.link_group>.wrap{display: block;padding: 0 5px;}
	.premium_desc>.link_group>.wrap>label{width: 20vw;padding: 0.5em 0.5em;max-width: 9em;min-width: 7.5em;font-size: 12px;white-space: pre-line;}
	.premium_desc>.link_group>.wrap>label:not(:last-child){margin-right: 0.2em;margin-left: 0.2em;}

	.premium_desc.watch4>.item>.content,
	.premium_desc.legacy>.item>.content{text-align: center;}
	.premium_desc>.item>.content.padding_all{padding: 0;}
	.premium_desc>.item>.content>.guide_form{padding: 30px 2em;}
	.premium_desc>.item>.content>.wrap{padding: 0;}
	.premium_desc>.item>.content>.wrap>.title{justify-content: center;font-size: 2.2em;flex-direction: column;align-items: center;}
	.premium_desc>.item>.content>.wrap>.title::before{display: block;margin: 0;}
	.premium_desc>#tiral>.content>.wrap>.desc{flex-direction: column;align-items: center;}
	.premium_desc>#tiral>.content>.wrap>.desc>img{margin-top: 2em;}

	.premium_desc>#product{background-size: 120vw;background-position: 50% 150%;}
	.premium_desc>#product>.content>.ticket>li{flex-direction: column}
	.premium_desc>#product>.content>.ticket>li>span:nth-child(1){text-align: left;}
	.premium_desc>#product>.content>.ticket>li>span{position: relative;}
	.premium_desc>#product>.content>.ticket>li>span>.price{position: absolute;top: -1.1em;margin-right: 0;}

	.premium_desc>#ticket>.content>.description{flex-direction: column;}
	.premium_desc>#ticket>.content>.description>div h4{border: none;padding:0;position: relative;margin: 0 0 1.5em;width: 100%;}
	.premium_desc>#ticket>.content>.description>div h4::before{height: 2px;width: 80%;margin: auto;position: absolute;top: 50%;content: '';background: #fff;left: 50%;transform: translateX(-50%);}
	.premium_desc>#ticket>.content>.description>div h4>span{background-color: #282828;padding: 0 0.5em;position: relative;}
}